
*{
    box-sizing: border-box;
    list-style : none; /* 리스트 스타일 X */
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans','GmarketSansMedium' ;
    /* font-family: 'KBO-Dia-Gothic_bold'; */
}

a, button{
    cursor: pointer;
    /* color : white; */
}

html {
    scroll-behavior: smooth;
  }


main{

    display: flex;
    flex-wrap: wrap;

    background-color: #101322;

    color: white;

/*     
    width: 1920px;
    height: 5500px; */

}


/* ========================================================================= */

/* nav */
nav{
    flex-basis: 100%;
    height: 78px;

    display: flex;

    /* 위에 고정 */
    position:sticky;
    top: 0;

    background-color: #101322;

    /* 요소 우선순위 주기 ( 앞으로 올리기 )  */
    z-index: 3;
}

nav section:not(:nth-child(2)){
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 로고 폰트 사이즈  ① 로고 사이즈 변경 및 이미지면 이미지 사이즈 변경  */
    font-size: 40px;
    font-weight: bold;
}

/* nav- 검색창 */
nav section:nth-child(2){
    flex-basis: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .movie-search-area > form{
    padding-top: px;
} */

.movie-search-area fieldset{
    width: 1000px;
    border: 2px solid black;

    height: 45px;
    /*border-radius: 5px; */
    margin: 0;
    margin-bottom: 5px;
    padding: 2px;
    display: flex;
}

#query{
    flex-basis: 92%;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px 0px 0px 5px  ;
    outline: none;  
    background-color: white;
}

#search-btn{
    flex-basis: 8%;
    line-height: 35px;
    font-size: 1.2em;
    border-radius: 0px 5px 5px 0px   ;
    border: none;
    background-color: white; /* transparent : 투명 */
    color: black;
}




.main-sort > a{
    margin : 0px 50px;
}


/* nav - 유저 버튼 */
/* .user-login{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
} */

.user-login {
    width: 170px;
    height: 55px;
    border-radius: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: white;
    color:black;
    font-size: 30px;
}

.user-mypage{
    flex-basis: 50%;
    padding-left: 50px;
    font-size: 30px;

}

.mypage-wrapper{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: white;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ========================================================================= */

aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex-basis: 17%;
    height: 840px;
    border-radius: 50px;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,34,155,1) 24%, rgba(0,212,255,1) 100%);
    
    font-size: 20px;
    font-weight: bold;
    color: white;

    position:sticky;
    top : 78px
}


aside > a{
    margin-bottom: 40px;
    font-size: 25px;
    color: white;
}


.mypage-content{
    flex-basis: 83%;
    /* border: 2px solid white; */
    
  }

.mypage{
    height: 850px;

    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;

    /* border: 1px solid aqua ; */
}

.mypage-info{

    height: 1220px;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
/* 
    border: 1px solid aqua ; */
}

/* 중복되면 mypage-favorite 지우기!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.mypage-favorite{
    height: 820px;

    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;

    /* border: 1px solid aqua ; */
}


/* 마이페이지-즐겨찾기 */
.mypage-title{
    flex-basis: 40%;
    height: 200px;

    font-size: 50px;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.favorite-setting{    
    flex-basis:3%;
    /* width: 360px; */
    /* height: 60px; */
    /* background-color: rebeccapurple; */
    align-self: flex-start;
    display: flex;
}

.favorite-setting > a {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    margin : 0px 30px;

    font-size: 28px;
    font-weight: bold;
    padding: 10px 20px;
}

/* 영화관 버튼 (비활성화일 때)  */
.cienma-favorite-btn {
    background-color: white;
    opacity: 0.5;
    color : white
}


.favorite-list{
    flex-basis: 57%;

    display: flex;
    align-items: center;
}




.favorite-list-wrapper{
    flex-basis: 20%;

    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
    margin : 0px 20px;
    /* margin-bottom: 200px; */

}


.favorite-list-wrapper > img {
    width: 100%;
}

.next-btn-container{
    flex-basis: 5%;
}

.next-btn{

    width: 30px;
    height: 20px;

    width: 0;
    height: 0;
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
    border-left: 40px solid skyblue;
    border-right: 40px solid transparent;

    background-color: transparent;
}

/* ======================================================================= */

/* 마이페이지-방문기록 및 내가 작성한 댓글 */
.visit-history-container,
.comment-list-container{
    flex-basis: 10%;
    width: 1100px;
    color: black;
    background-color: white;

    font-size: 30px;
    font-weight: bold;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

#mypage-visit-history,
#mypage-comment-list,
#mypage-modify-member-info{
    padding: 20px;

}

.visit-history-content-container,
.modify-member-info-container{
    flex-basis: 90%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    overflow: auto
}

.visit-history-content{
    flex-basis: 100%;

    width: 1100px;
    height: 600px;
    border-radius: 50px;
    background: linear-gradient(180deg, #040514 0%, #7A80FF 74.03%);

    /* 목록 정렬! */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.visit-history-list{
    flex-basis: 25%;
    /* border: 2px solid whitesmoke; */

    padding : 0px 50px;
    display: flex;
}

.history-img-container{
    background-color: red;
    /* margin: 5px 0px; */
    border-radius: 50px;
    flex-basis: 25%;

    width: 140px;
    height: 130px;

    overflow: hidden;

    display: flex;
    align-items: center;
}

.history-img-container > img{
    width: 100%;
    /* height: 100%; */
}

.history-content-container{
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
}

.history-content-container *:nth-child(1){
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.history-content-container *:nth-child(2){
    flex-basis: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.history-del-btn{
    flex-basis: 5%;
    height: 40px;
    border-radius: 10px;
    font-size: 10px;
    background-color: wheat;
    color: black;
    font-weight: bold;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ======================================================================= */

/* 마이페이지-내가 작성한 댓글 */

.comment-list-content-container{
    flex-basis: 95%;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 댓글 조회 할 큰 틀 */
.comment-list-content{
    flex-basis: 95%;

    width: 1100px;
    border-radius: 50px;
    /* border : 2px solid white; */
    /* border : 2px solid red; */

    /* 목록 정렬! */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.comment-list-btn-container{
    flex-basis: 5%;
    width: 100%;
    /* border : 2px solid yellow; */

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    /* margin-top: 20px; */
    /* ?????????????? */
}




.comment-list{
    flex-basis: 10%;
    /* border : 2px solid rebeccapurple; */

    padding : 0px 50px;
    display: flex;
    align-items: center;
}

.comment-del-btn,
.comment-list-all-btn{
    flex-basis: 5%;
    height: 40px;
    border-radius: 10px;
    font-size: 10px;
    background-color: rgb(230, 230, 230);
    color: black;
    font-weight: bold;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-replace-btn,
.comment-list-all-del-btn{
    flex-basis: 10%;
    height: 40px;
    border-radius: 10px;
    font-size: 10px;
    background-color: wheat;
    color: black;
    font-weight: bold;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-content-container,
.comment-list-btn-container > p{
    flex-basis: 85%;

    display: flex;
    justify-content: space-between;

    padding: 0px 40px;
    align-items: center;
}



/* ======================================================================= */

/* 마이페이지-회원정보 수정 */

.modify-member-info-title{
    flex-basis: 10%;
    width: 1100px;

    font-size: 50px;
    font-weight: bold;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}


.modify-member-info-container{
    flex-basis: 90%;
    /* border: 2px solid wheat; */
}


.modify-member-info-content{
    flex-basis: 100%;
    width: 1159px;
    height: 1500px;
    border-radius: 50px;
    background: linear-gradient(180deg, #000 0%, rgba(158, 185, 255, 0.68) 45.83%, rgba(255, 255, 255, 0.00) 99.99%, rgba(255, 255, 255, 0.00) 100%);
    /* 목록 정렬! */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* 프로필 */
.member-info-profile-container{
    flex-basis: 35%;

    padding: 20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.member-profile-wrapper{
    width: 280px;
    height: 280px;
    /* border: 3px solid #FFF; */
    border-radius: 50%;

    overflow: hidden;

    display: flex;
    align-items: center;
} 

.member-profile-wrapper>img{
    width: 100%;
}

.member-profile-modify-btn{
    background-color: #DCEFF3;;
    border-radius: 10px;
    width: 441px;
    height: 50px;

    color: #8B8B8B;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px
}

.member-profile-modify-btn > *{
    margin: 0px 10px;
}






/*변경 내용*/
.member-info-container{
    flex-basis: 52%;

    display: flex;
    flex-direction: column;

}

.modify-content-container{
    flex-basis: 25%;
    display: flex;
    justify-content: center;
}

.modify-title{
    flex-basis: 25%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
    font-weight: bold;
}

.modify-content{
    flex-basis: 50%;

    display: flex;
    align-items: center;
}

.modify-content-input{
    flex-basis: 100%;

    font-size: 30px;
    width: 526px;
    height: 70px;   
    background: #D9D9D9;
    border-radius: 10px;

    display: flex;
    justify-content: start;
    align-items: center;

    padding: 10px;
    
}

.modify-content-input >i{
    flex-basis: 15%;
    color: black;
    font-size:40px;
    text-align: center;
}

.modify-content-input >input{
    flex-basis: 50%;
    color: #8B8B8B;
    font-size: 35px;
    font-weight: bold;
    border: none;
    outline : none;
    background-color: transparent;
    padding: 15px;
}

.validation-content{
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15px;
    font-weight: bold;
}

.modify-content-btn{
    flex-basis: 50%;

    display: flex;
}

.modify-gender{
    flex-basis: 50%;

    width: 148px;
    height: 71px;

    border-radius: 20px;
    background: #F1F1F1;
    color: black;
    font-size: 36px;

    margin : 0px 30px 0px 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
}



/* 변경 내용 */
.member-info-option-container{
    flex-basis: 13%;
} 

.member-info-option-container{
    display: flex;

    justify-content: center;
    align-items: center;
}

.member-info-option-btn{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px 50px 0px 0px;

    width: 416px;
    height: 90px;

    background: rgba(255, 255, 255, 0.50);
    font-size: 30px;
    font-weight: bold;
}

footer{
    height: 300px;
}
footer>img{
    height: 100%;
    width: 100%;
}










